:root{


  --fs-buttons-700: 2rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
 body {
    height: 100vh;
    height: 100dvh;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
    border: none;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

.theme-dark{
  --clr-font-primary: hsl(0, 0%, 100%);
  --clr-font-primary-upper: var(--clr-font-primary);
  --clr-font-secondary: hsl(221, 14%, 31%);

  --clr-bg-main: hsl(222, 26%, 31%);
  --clr-bg-keypad: hsl(223, 31%, 20%);
  --clr-bg-display: hsl(224, 36%, 15%);

  --clr-key-primary: hsl(30, 25%, 89%);
  --clr-key-primary-highlight: hsl(0, 0%, 100%);
  --clr-key-primary-shadow: hsl(224, 28%, 35%);
  --clr-key-del:hsl(225, 21%, 49%);
  --clr-key-del-highlight:hsl(222, 48%, 73%);
  --clr-key-del-shadow: hsl(224, 28%, 35%);
  --clr-key-eq: hsl(6, 63%, 50%);
  --clr-key-eq-highlight: hsl(6, 93%, 67%);
  --clr-key-eq-shadow: hsl(6, 70%, 34%);
}
.theme-light{
  --clr-font-primary: hsl(0, 0%, 100%);
  --clr-font-primary-upper: var(--clr-font-secondary);
  --clr-font-secondary: hsl(60, 10%, 19%);

  --clr-bg-main: hsl(0, 0%, 90%);
  --clr-bg-keypad: hsl(0, 5%, 81%);
  --clr-bg-display: hsl(0, 0%, 93%);

  --clr-key-del:hsl(185, 42%, 37%);
  --clr-key-del-highlight:hsl(185, 40%, 52%);
  --clr-key-del-shadow:hsl(185, 58%, 25%);
  --clr-key-eq: hsl(25, 98%, 40%);
  --clr-key-eq-highlight: hsl(22, 100%, 61%);
  --clr-key-eq-shadow: hsl(25, 99%, 27%);
  --clr-key-primary: hsl(45, 7%, 89%);
  --clr-key-primary-highlight: hsl(0, 0%, 100%);
  --clr-key-primary-shadow: hsl(35, 11%, 61%);
}
.theme-contrast{
  --clr-font-primary: hsl(0, 0%, 100%);
  --clr-font-primary-upper: var(--clr-font-secondary);
  --clr-font-special-eq : hsl(198, 20%, 13%);
  --clr-font-secondary: hsl(52, 100%, 62%);

  --clr-bg-main: hsl(268, 75%, 9%);
  --clr-bg-keypad: hsl(268, 71%, 12%);
  --clr-bg-display: var(--clr-bg-keypad);

  --clr-key-del:hsl(281, 89%, 26%);
  --clr-key-del-highlight:hsl(279, 51%, 42%);
  --clr-key-del-shadow:hsl(285, 91%, 52%);
  --clr-key-eq: hsl(176, 100%, 44%);
  --clr-key-eq-highlight: hsl(177, 98%, 75%);
  --clr-key-eq-shadow: hsl(177, 92%, 70%);
  --clr-key-primary: hsl(268, 47%, 21%);
  --clr-key-primary-highlight: hsl(264, 50%, 42%);
  --clr-key-primary-shadow: hsl(290, 70%, 36%);
}

.wrapper{
  height: 100%;
  width: 100%;
  background: var(--clr-bg-main);

  display: grid;
  align-items: center;
  justify-items: center;
}

.calculator{
  width: min(86.5%, 25rem);
  height: 90%;
  font-family: 'League Spartan', sans-serif;
  /* background: green; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (width <= 600) {
  .calculator{
    width: 85%;
  }
}


.title-theme{
  color: var(--clr-font-primary-upper);
  padding: 0 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 1.875rem;
}

.rightSide{
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.rightSide span{
  letter-spacing: 1px;
  font-size: .7rem;
  align-self: end;
}

.labels{
  font-size: .75rem;
  display: flex;
  justify-content: space-around;
}

.toggle{
  display: flex;
  justify-content: space-between;
  background: var(--clr-bg-keypad);
  padding: .3rem;
  border-radius: 100vw;
  width: 4.5rem;
}
.toggle>input{
  height: 1rem;
  width: 1rem;
  appearance: none;
  background-color: var(--clr-key-eq);
  border-radius: 50%;
  opacity: 0;
}
.toggle>input:hover{
  cursor: pointer;
  background: var(--clr-key-eq-highlight);
}
#one{
  opacity: 1;
}





.display{
  color: var(--clr-font-primary-upper);
  font-size: 2.5rem;
  line-height: 1;
  background: var(--clr-bg-display);
  border-radius: .5rem;
  height: 5.5rem;
  padding: 1.5rem;

  display: grid;
  align-items: center;
  justify-items: end;
}

.numpad{
  height: 26.25rem;
  background: var(--clr-bg-keypad);
  border-radius: .625rem;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
}
.button{
  width: 100%;
  cursor: pointer;
  color: var(--clr-font-secondary);
  background: var(--clr-key-primary);
  font-size: var(--fs-buttons-700);
  box-shadow: 0 4px var(--clr-key-primary-shadow);
  border-radius: .5rem;
  
}
.button:hover{
  background: var(--clr-key-primary-highlight);
}
.backup{
  font-size: 1.5rem;
  color: var(--clr-font-primary);
  background: var(--clr-key-del);
  box-shadow: 0 4px var(--clr-key-del-shadow);
}
.backup:hover{
  background: var(--clr-key-del-highlight);
}
.equals{
  color: var(--clr-font-primary);
  background: var(--clr-key-eq);
  box-shadow: 0 4px var(--clr-key-eq-shadow);
}
.equals:hover{
  background: var(--clr-key-eq-highlight);
}
.wrapper.theme-contrast .equals{
  color: var(--clr-font-special-eq);
}
.long-boi{
  grid-column: span 2;
}
